/* Main */
main {
    position: relative;
}
main nav.header-docker {
    width: 100%;
    overflow: auto;
}
main nav.header-docker ul {
    float: right;
}
main nav.header-docker ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 80%;
    line-height: 0;
}
main nav.header-docker ul li:last-child {
    color: red;
    margin-right: 0 !important;
}
main nav.header-docker ul li a:hover {
    color: #010d92;
}
.header-docker-fixed {
    width: 930px !important;
    position: fixed !important;
    top: 0;
    background-color: white;
    padding: 5px 0px;
    z-index: 10;
}
main section {
    margin-top: 30px;
    overflow-y: auto;
}
main section * {
    vertical-align: top;
}
main section p {
    margin-top: 10px;
}
/* -- */
main section.description {
    overflow: auto;
}
main section.description #test_description,
main section.description #test_form {
    display: block;
    float: left;
    overflow: auto;
}
main section.description #test_description {
    width: 65%;
}
main section.description #test_description p {
    margin-top: 15px;
    text-align: left;
}
main section.description #test_form {
    width: calc(35% - 5px);
    min-width: 230px;
}
main section.description .form-box {
    margin-left: 30px;
    border: 1px solid black;
}
main section.description .form-box .privacy-info-box {
    position: relative;
    border-top: 5px solid #010d92;
    z-index: 10;
}
main section.description .form-box .privacy-info-box .box-right {
    float: right;
    color: white;
    background-color: #010d92;
    font-size: 80%;
    margin-top: -5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
}
main section.description .form-box .privacy-info-box .box-right * {
    color: white;
}
main section.description .form-box .privacy-info-box .box-right:hover p {
    display: block;
}
main section.description .form-box .privacy-info-box a:hover p {
    display: block !important;
}
main section.description .form-box .privacy-info-box p {
    max-width: 200px;
    padding: 15px;
    color: white;
    line-height: 1.3;
    background-color: #304157;
    position: absolute;
    top: 11px;
    right: 0;
    display: none;
    box-shadow: 0px 0px 10px 0px #000;
}
main section.description .form-box label {
    font-size: 90%;
    font-weight: bold;
}
main section.description .form-box input[type="text"],
main section.description .form-box input[type="email"],
main section.description .form-box input[type="number"],
main section.description .form-box input[type="tel"]
 {
    width: 100%;
    border: 1px solid #999;
    padding: 5px;
    font-size: 90%;
}
main section.description .form-box select {
    width: 184px;
    border: 1px solid #999;
    padding: 5px;
    font-size: 90%;
    background-color: transparent;
}
main section.description .form-box input[type="radio"] {
    vertical-align: middle;
    text-shadow: 0 0 0;
    -moz-osx-font-smoothing: grayscale;
}
main section.description .form-box button[type="submit"] {
    width: 100%;
}
main section.description .form-box .form-content {
    padding: 18px 12px 12px 12px;
}
main section.description .form-box .form-field {
    margin-top: 12px;
}
main section.description .form-box .form-field label.box {
    width: calc(50% - 4px);
    border: 1px solid #999;
    padding: 5px;
    text-align: center;
    line-height: 1.4;
    text-align: left;
    font-weight: normal;
    display: inline-block;
}
main section.description .form-box .form-field label.box:first-child {
    margin-right: 4px;
}
main section.description .form-box .form-field label.box:last-child {
    margin-left: 4px;
}
main section.description .field-group {
    width: 100%;
    display: table;
}
main section.description .field-group .col {
    display: table-cell;
}
main section.description .field-group .col-left {
    width: 80px;
}
main section.description .field-group .col-right {
    text-align: right;
}
main section.description .pie-chart {
    width: 235px;
    margin-left: 15px;
    float: right;
    display: inline-block;
}
main section.description .pie-chart .chart-link {
    margin-top: 10px;
    text-align: right;
}
main section.description .pie-chart .chart-link a {
    color: #010d92;
    font-weight: bold;
}
main section.description .pie-chart .chart-link a:hover {
    color: black;
}
main section.description .pie-chart .chart {
    width: 235px;
    height: 215px;
}
/* -- */
main section.how-it-works ul {
    list-style-type: none;
}
main section.how-it-works li {
    border-top: 1px solid black;
    padding: 20px;
    overflow: auto;
}
main section.how-it-works li .text {
    width: calc(100% - 344px);
    display: inline-block;
}
main section.how-it-works li .text h4 {
    width: 100%;
    font-size: 152%;
    vertical-align: middle;
    line-height: normal;
}
main section.how-it-works li .text h4:before {
    width: 0;
    height: 0;
    font-size: 0;
    margin-left: -20px;
    vertical-align: middle;
    display: inline;
    content: "";
    border: 10px solid transparent;
    border-left-color: #010d92;
}
main section.how-it-works li .text span.step-text {
    color: #999;
    font-size: 85%;
    vertical-align: middle;
}
main section.how-it-works li .image {
    max-width: 329px;
    display: inline-block;
    float: right;
}
main section.how-it-works li .image > img {
    width: 100%;
}
/* -- */
main section.what-makes-it-unique .oca-graph-block {
    width: 100%;
    max-width: 700px;
    margin: 15px auto auto auto;
    text-align: right;
    display: block;
}
main section.what-makes-it-unique .oca-graph-block .oca-note {
    width: calc(100% - 287px);
    height: 235px;
    vertical-align: bottom;
    text-align: right;
    float: left;
}
main section.what-makes-it-unique .oca-graph-block .oca-note .text {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 400px;
}
main section.what-makes-it-unique .oca-graph-block .oca-graph {
    max-width: 287px;
    float: right;
}
main section.what-makes-it-unique .oca-graph-block .oca-graph img {
    width: 100%;
}
/* -- */
main section.the-real-you {
    padding: 15px 45px;
    background-color: #010d92;
}
main section.the-real-you ul {
    margin-top: 10px;
    list-style-position: inside;
}
main section.the-real-you * {
    color: white;
}
/* -- */
main section.personal-success ul {
    margin-top: 15px; 
    list-style-type: none;
}
main section.personal-success ul li {
    margin-top: 40px; 
}
main section.personal-success ul li:first-child {
    margin-top: 10px; 
}
main section.personal-success ul li .image {
    width: 173px;
    height: 129px;
    margin-right: 20px;
    display: inline-block;
}
main section.personal-success ul li .image > div {
    width: 100%;
    height: 100%;
    background-image: url("../images/autosprite-sprite.png");
}
main section.personal-success ul li .image .img-01 {
    background-position: 0px -4807px;
}
main section.personal-success ul li .image .img-02 {
    background-position: 0px -4936px;
}
main section.personal-success ul li .image .img-03 {
    background-position: 0px -5065px;
}
main section.personal-success ul li .image .img-04 {
    background-position: 0px -5194px;
}
main section.personal-success ul li .text {
    width: calc(100% - 198px);
    display: inline-block;
}

/* Responsive Styles */
@media(max-width: 960px) {
    nav.header-docker {
        display: none;
    }
}
@media(max-width: 800px) {
    main section.how-it-works .text,
    main section.how-it-works .text p {
        width: auto !important;
        float: none !important;
    }
    main section.how-it-works .image
    {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        float: none !important;
    }
}
@media(max-width: 750px) {
    main section.description #test_description,
    main section.description #test_form
    {
        width: 100%;
        height: auto;
        display: block;
    }
    #test_form {
        margin-top: 20px;
    }
    #test_form .form-box {
        margin: 0;
    }
}
@media(max-width: 640px) {
    header {
        padding-left: 0;
        padding-right: 0;
    }
    main section.how-it-works p,
    main section.what-makes-it-unique {
        text-align: justify;
    }
}
@media(max-width: 550px) {
    #personality_text {
        display: none;
    }
    main section.what-makes-it-unique .oca-graph-block {
        width: 100%;
        margin-top: 15px;
        text-align: right;
        display: block;
    }
    main section.what-makes-it-unique .oca-graph-block .oca-graph {
        display: block;
        margin: auto;
        float: none;
    }
    main section.what-makes-it-unique .oca-graph-block .oca-note {
        width: 100%;
        height: auto;
        display: block;
        vertical-align: middle;
        text-align: center;
        float: none;
    }
    main section.what-makes-it-unique .oca-graph-block .oca-note .text {
        display: block;
        margin: 10px auto;
        max-width: 400px;
        float: none;
    }
    main section.the-real-you {
        padding: 15px 30px;
    }
    main section.the-real-you p,
    main section.the-real-you ul
    {
        text-align: justify;
    }
    main section.personal-success .image {
        display: block !important;
        margin: auto !important;
    }
    main section.personal-success .text {
        width: 100% !important;
        display: block !important;
        margin-top: 15px;
        text-align: center;
    }
}
@media(max-width: 450px) {
    main section.description .pie-chart {
        float: none;
        display: block;
        margin: 20px auto auto auto; 
    }
}